{% extends "layout.html" %}
{% block title %}{{ Ts.name }}{% endblock %}
{% block content %}
	<div class="column"><h1 class="title has-text-white">{{ Ts.teaching_staff_name }}</h1></div>
    <table class="table" >
	  
	  {% if Ts.itu_mail_address %}
      <tr>
        <th>ITU Mail:</th>
        <td>{{ Ts.itu_mail_address }}</td>
      </tr>
      {% endif %}
	  
	  {% if Projects %}
      <tr>
        <th>Supervised Projects:</th><td>
		{% for project in Projects %} 
		<a href="{{ url_for('project_page', project_key=project.project_id) }}">{{project.project_name}}</a>,
		{% endfor %}
		</td>
	  </tr>
      {% endif %}
	  
    </table>
	<form action="" method="post" name="button" value = "delete">
		
        <div class="column">
          <input type="submit" name="Button" value="Update" class="button">
          <input type="submit" name="Button" value="Delete" class="button">
        </div>
   
	</form>
{% endblock %}