{% extends "layout.html" %}
{% block title %}Update Teaching Staff{% endblock %}
{% block content %}
<div class="column"><h1 class="title has-text-white">Update Teaching Staff</h1></div>
<form action="" method="post" name="addu">
	<div class="field">
		<label for="un" class="column">User Name:</label>
		<div class="column is-3">
			<input type="text" name="un" class="input" required="required" value="{{ values['un'] }}"/>
		</div>
	</div>
	<div class="field">
		<label for="pw" class="column">Password:</label>
		<div class="column is-2">
			<input type="password" name="pw" class="input" minlength="6" required="required" value="{{ values['pw'] }}"/>
		</div>
	</div>
	
	<div class="field">
		<label for="name" class="column">Name:</label>
		<div class="column is-3 ">
				<input type="text" name="name" class="input" required="required" value="{{ values['name'] }}"/>
		</div>
	</div>
	<div class="field">
		<label for="ima" class="column">ITU Mail Address:</label>
		<div class="column is-3">
			<input type="email" name="ima" class="input" required="required" value="{{ values['ima'] }}"/>
		</div>
	</div>
	<div class="field is-grouped">
        <div class="column">
          <input type="submit" name="save1" value="Save" class="button">
        </div>
      </div>
</form>
{% endblock %}